<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ruby Racer</title>
    <link rel="stylesheet" href="/css.css">
  </head>
  <body>
    <div class="all">
      <div class="tilesleft">
        <% (@scores.size * 23 / 10 + 10).times do %>
          <br>
        <% end %>
      </div>
        <div class="wrapper">
          <%= yield %>
        </div>
      <div class="tilesright">
        <% (@scores.size * 23 / 10 + 10).times do %>
          <br>
        <% end %>
      </div>
    </div>
  </body>
</html>
